{% extends 'app1/mainAdmin.html' %} {% block content %}
<div class="container">
  <div class="col-md-12 mx-auto">
    <div class="card card-body">
      <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group row">
          <label for="id_titre" class="col-sm-2 col-form-label">nom:</label>
          <div class="col-sm-4">{{form.nom}}</div>

          <label for="id_prix" class="col-sm-2 col-form-label">Nombre d'etoiles:</label>
          <div class="col-sm-4">{{form.nbr_etoiles}}</div>
        </div>
        <div class="form-group row">
          <label for="id_titre" class="col-sm-2 col-form-label">Nombre de chambres:</label>
          <div class="col-sm-4">{{form.nbr_chambres}}</div>
          <label for="id_titre" class="col-sm-2 col-form-label">hotel image:</label>
          <div class="col-sm-4">{{form.hotel_image}}</div>
        </div>
        <div class="d-flex justify-content-center mb-3">
          <input class="btn btn-primary" type="submit" name="add" />
        </div>
      </form>
    </div>

    {% if form.errors %}
    <p class="text-danger">Form has errors: {{ form.errors }}</p>
    {% endif %}
  </div>
</div>
{% endblock content %}
