<h1>admin page</h1>
<span ><a class="hello-msg" href="{% url 'registerAdmin' %}">add admin</a></span>
<span ><a class="hello-msg" href="{% url 'voyages' %}">gerer les voyages</a></span>
<span ><a class="hello-msg" href="{% url 'categories' %}">gerer les categories</a></span>
<span ><a class="hello-msg" href="{% url 'hotels' %}">gerer les hotels</a></span>
<span ><a class="hello-msg" href="{% url 'vols' %}">gerer les vols</a></span>
<span ><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>