<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Facture</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container" >
        <h1>Identifiant de Réservation : {{ res_id }}</h1>

        <div class="row">
            <div class="col-md-6">
                <h2>Informations sur le Client</h2>
                <p>Nom du Client : {{ client.fk_user.username }}</p>
                <p>Email du Client : {{ client.fk_user.email }}</p>
                <p>Genre du Client : {{ client.get_sexe_display }}</p>
                <p>Téléphone du Client : {{ client.telephone }}</p>
                <p>Adresse du Client : {{ client.adresse }}</p>
                <p>CIN du Client : {{ client.CIN }}</p>
            </div>
            <div class="col-md-6">
                <h2>Informations sur le Voyage</h2>
                <h3>Informations de Réservation pour l'ID du Voyage : {{ voyage.id }}</h3>
                <p>Description du Voyage : {{ voyage.description }}</p>
                <p>Montant Payé : {{ voyage.prix }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Informations sur l'Hôtel</h2>
                <p>Nom de l'Hôtel : {{ hotel.nom }}</p>
                <p>Étoiles de l'Hôtel : {{ hotel.nbr_etoiles }}</p> 
            </div>
            <div class="col-md-6">
                <h2>Informations sur le Vol</h2>
                <p>Titre du Vol : {{ vol.titre }}</p>
                <p>Date de Départ : {{ vol.date_depart }}</p>
                <p>Date d'Arrivée : {{ vol.date_arrive }}</p>
                <p>Compagnie : {{ vol.compagnie }}</p>
                <p>Classe : {{ vol.get_classe_display }}</p>
                <p>Escales : {{ vol.escale }}</p>
                <p>Ville de Départ : {{ vol.ville_depart }}</p>
                <p>Ville d'Arrivée : {{ vol.ville_arrive }}</p>
                <p>Durée (heures) : {{ vol.nbr_heure }}</p>
            </div>
        </div>
    </div>
</body>
</html>
