
{% extends 'app1/mainAdmin.html' %}

{% block content %}
<div class="container">
<h1 class="text-center text-white bg-success p-2" style="border-radius: 7px;">Liste des Voyages</h1>
    <div class="card card-body">
    <div class="d-flex justify-content-center mb-3">
      <a class="btn btn-outline-success" href="{% url 'addvoyage' %}">Add Voyage</a>
    </div>
          <table class="table table-sm">
 
                <tr>
                  <th>id</th>
                  <th>titre</th>
                  <th>prix</th>
                  <th>categorie</th>
                  <th>Update</th>
                  <th>Remove</th>
                </tr>
      
            {%for voyage in voyages%}
              <tr>
                <td>{{voyage.id}}</td>
                <td>{{voyage.titre}}</td>
                <td>{{voyage.prix}}</td>
                <td>{{voyage.categorie}}</td>
                <td><a class="btn btn-outline-warning" href="{% url 'updatevoyage' voyage.id %}">update</a></td>
                <td><a class="btn btn-outline-danger" href="{% url 'deletevoyage' voyage.id %}">remove</a></td>
              </tr>
              {%endfor%}
          </table>
    </div>
</div>
{% endblock content %}
